name: Cross-platform Builds
permissions: 
  contents: read
  
on:
  pull_request:
    branches: [ 'master' ]
    
jobs:
  build:
    strategy:
      fail-fast: true
      
      matrix:
        build-tool: [ ninja ]
        compiler: [ mingw64, gcc ]
        architecture: [ x64, x86 ]
        target: [ win, linux ]
        build-type: [ debug, release ]
        exclude:
          - target: win
            compiler: gcc
          - target: linux
            compiler: mingw64
            
    uses: VolcanusLucis/.github/.github/workflows/build-cmake-project-presets.yml@bug/5-architecture-switch-fails-to-check-for-x64
    with:
      architecture: ${{ matrix.architecture }}
      build-tool: ${{ matrix.build-tool }}
      build-type: ${{ matrix.build-type }}
      compiler: ${{ matrix.compiler }}
      target: ${{ matrix.target }}

  build-all:
    if: always()
    runs-on: ubuntu-latest
    needs: build
    steps:
      # https://github.com/orgs/community/discussions/26822
      - if: ${{ contains(needs.*.result, 'failure')
             || contains(needs.*.result, 'cancelled')
             || contains(needs.*.result, 'skipped') }}
        run: exit 1