name: Cross-platform Builds
on:
  pull_request:
    branches: [ 'master' ]
    paths:
      - 'libvlmath/**'
      - 'toolchains/**'
      - 'CMake**.**'

jobs:
  check-files:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs: 
      files_found: ${{ steps.found-files.outputs.files_found }}
    
    steps:
      - uses: actions/checkout@v4
      - id: changed-files
        uses: tj-actions/changed-files@v47.0.1
        with: 
          base_sha: ${{ github.base_ref }}
          files: |
            libvlmath/**
            toolchains/**
            CMake**.**
      - shell: bash
        id: found-files
        run: echo "files_found=${{ steps.changed-files.outputs.any_modified }}" >> $GITHUB_OUTPUT

  build:
    runs-on: ubuntu-latest
    needs: check-files
    if: ${{ needs.check-files.outputs.files_found }}
    permissions:
      contents: read
    
    strategy:
      fail-fast: true
      matrix:
        build-tool: [ ninja ]
        compiler: [ mingw64, gcc ]
        architecture: [ x64, x86 ]
        target: [ win, linux ]
        build-type: [ debug, release ]
        exclude:
          - target: win
            compiler: gcc
          - target: linux
            compiler: mingw64
    
    steps:
      - uses: VolcanusLucis/.github/.github/actions/build-cmake-project-presets@master
        with:
          architecture: ${{ matrix.architecture }}
          build-tool: ${{ matrix.build-tool }}
          build-type: ${{ matrix.build-type }}
          compiler: ${{ matrix.compiler }}
          target: ${{ matrix.target }}

  build-all:
    if: always()
    runs-on: ubuntu-latest
    needs: [check-files, build]
    steps:
      # https://github.com/orgs/community/discussions/26822
      - if: contains(needs.*.result, 'failure') 
          || contains(needs.*.result, 'cancelled')
          || (needs.check-files.outputs.files_found && contains(needs.*.results, 'skipped'))
        run: exit 1
        