name: Cross-platform Builds Autocomplete
permissions:
  contents: read

on:
  pull_request:
    paths-ignore:
      - 'libvlmath/**'
      - 'toolchains/**'
      - 'CMake**.**'

jobs:
  build-all:
    runs-on: ubuntu-latest
    steps:
      - run: echo "No builds needed!"