name: Cross-platform Builds
on:
  pull_request:
    branches: [ 'master' ]
    paths:
      - 'libvlmath/**'
      - 'toolchains/**'
      - 'CMake**.**'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    
    strategy:
      fail-fast: true
      matrix:
        build-tool: [ ninja ]
        compiler: [ mingw64, gcc ]
        architecture: [ x64, x86 ]
        target: [ win, linux ]
        build-type: [ debug, release ]
        exclude:
          - target: win
            compiler: gcc
          - target: linux
            compiler: mingw64
    
    steps:
      - uses: VolcanusLucis/.github/.github/actions/build-cmake-project-presets@master
        with:
          architecture: ${{ matrix.architecture }}
          build-tool: ${{ matrix.build-tool }}
          build-type: ${{ matrix.build-type }}
          compiler: ${{ matrix.compiler }}
          target: ${{ matrix.target }}

  build-all:
    if: always()
    runs-on: ubuntu-latest
    needs: build
    steps:
      # https://github.com/orgs/community/discussions/26822
      - if: ${{ contains(needs.*.result, 'failure')
          || contains(needs.*.result, 'cancelled')
          || contains(needs.*.result, 'skipped') }}
        run: exit 1