name: Cross-platform Builds
permissions: 
  contents: read
  
on:
  pull_request:
    branches: [ "master" ]
    
jobs:
  cross-platform-build:
    strategy:
      fail-fast: true
      
      matrix:
        build-tool: [ ninja ]
        compiler: [ mingw64, gcc ]
        architecture: [ x64, x86 ]
        target: [ win, linux ]
        build-type: [ debug, release ]
        exclude:
          - target: win
            compiler: gcc
          - target: linux
            compiler: mingw64
            
    uses: VolcanusLucis/.github/.github/workflows/build-cmake-project-presets.yml@master
    with:
      architecture: ${{ matrix.architecture }}
      build-tool: ${{ matrix.build-tool }}
      build-type: ${{ matrix.build-type }}
      compiler: ${{ matrix.compiler }}
      target: ${{ matrix.target }}